.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #424242;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0277bd;
}

.background-color-black {
  background-color: black;
}

.background-color-gold {
  background-color: #cfb87c;
}

.background-color-grey {
  background-color: #424242;
}

.background-color-red-light {
  background-color: #ffebee
}

.background-color-white {
  background-color: white;
}


.padding {
  padding: 10px;
}